{% extends 'base.html' %}
{% block head %}
<head>
	<style>
		p {
			text-indent: 2.0em;
			padding-left: 15px;
			padding-right: 15px;
		}
		.text {
			max-width: 600px;
			align-content: center;
			text-align: justify;
			margin: auto;
		}
		.container {
			display: flex;
		}
	</style>
</head>
{% endblock %}
{% block content %}
<body>
	<div class="flex-container">
		<div class="text">
			<p>
				I'm a fourth year student at Northeastern University, studying bioengineering
				and computer science. I'm looking to get involved with projects that
				combine those two worlds; I think that the intersection of science and
				software has the potential to help people, and I want to be a part of it.
			</p>
			<p>
				I also have a background in affective sciences and cognitive research,
				which means that I have spent considerable time designing and implementing
				experiments for cognitive assessment, as well as experience sampling.
				The brain is an amazing thing, and I believe that cognitive science is an important
				and exciting area of research because having a better understanding of how we think will help us
				understand how to be our best selves and how to maintain a healthy mind.
				Two things we could all use these days.
			</p>
			<p>
				When I'm not in class or in the lab, I'm often competing at hackathons,
				learning about new programming languages or techniques, or watching The Office.
				I also compose music, help out with theater productions, and travel.
			</p>
		</div>
	</div>
</body>
{% endblock %}
